<h1 class="sign_in_title">
  Social Media Fingerprint
</h1>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="row sign_in_button">
      <div>
        <img class="sign_in_image" src="<%= path_to_image('FB-f-Logo__blue_58.png') %>"/>
      </div>
      <div class="button_wrapper">
        <%= button_to "Sign in with #{OmniAuth::Utils.camelize(provider)}",
        omniauth_authorize_path(resource_name, provider) %>
      </div>
    </div>
  <% end -%>
<% end -%>
