<h1 class='gallery-title'>
  About this Project
</h1>

<div class='row'>
  <div class='small-12 column about-text'>
    Lorem Ipsum blah blah blah latin
  </div>
</div>

<div class='align'>
<%= button_to 'Create New Fingerprint', new_image_path, :method => :get, class: 'input-button-style', id: 'about-btn', form: {id: 'about-form'} %>
</div>
