<h1 class='gallery-title'>
  About this Project
</h1>

<div class='row'>
  <div class='small-12 column about-text'>
    <p class='indent'>
      This project is the culmination of my time at Launch Academy.
      I'd had the idea long before attending, but I lacked the skills necessary to build it.
      Its purpose is, in part, to showcase the skills I learned there. But, it's more than that.
      I've long been fascinated with algorithmically generated art.
      The idea that we can use math to generate aesthetically pleasing images is really appealing to me.
      What I think is most interesting about it is the parallels between it and the emergence of beauty in nature.
      A canyon doesn't form for the sake of beauty. It forms over a period of time due to natural processes working in conjunction.
      And it takes a human observer to see beauty in it. In a much less grand sense, this app seeks to do the same thing.
      The components of it work in harmony to produce something that you might incidentally find beautiful or intriguing.
    </p>
    <br />
    <p class='indent'>
      The app asks Facebook for this information, things like your birthday, length of your name, etc.,
      and then feeds those numbers to the generating algorithm. This algorithm then draws a fractal composed of many circles.
      There is a certain element of randomness to these numbers, as my app will fiddle with them differently each time you generate an image.
      So please, if you aren't satisfied with the one you get feel free to generate as many more as you would like and then save your favorite to the gallery.
      When you signed in to the site, you granted the app certain permissions to access information about your Facebook account.
    </p>
    <br />
    <p class='align'>
      Thanks for visiting and I hope you enjoy using this app as much as I enjoyed making it.
    </p>
  </div>
</div>

<div class='align'>
<%= button_to 'Create New Fingerprint', new_image_path, :method => :get, class: 'input-button-style', id: 'about-btn', form: {id: 'about-form'} %>
</div>
