@import '*';

.align {
  text-align: center;
}

.app-name {
  font-size: 25px;
}

body {
  background-image: url('congruent_pentagon.png');
  font-family: 'lobster', 'cursive';
}

button {
  border: solid;
  border-color: $black;
  margin: 10px;
  padding: 3px;
}

.button-hover {
  background-color: $hover;
  border: solid;
  border-color: $black;
  border-radius: 25px;
  font-size: 30px;
}

.button_to {
  background-color: $top-bar;
}

.canvas-container {
  display: inline-block;
}

.canvas-title {
  font-size: 25px;
}

.control-panel {
  text-align: center;
}

.fingerprint-image {
  background-color: $white;
  border: 15px solid $frame;
}

.gallery-title {
  font-family: 'lobster', 'cursive';
  font-size: 75px;
  margin-top: 5%;
  text-align: center;
  text-decoration: underline;
}

.image-title {
  display: inline-block;
  font-size: 20px;
  text-align: center;
}

.input-button-style {
  background-color: $base-button;
  border-color: $black;
  border-radius: 25px;
  border-style: solid;
  font-size: 30px;
}

#my-canvas {
  background-color: $white;
  height: 250px;
  width: 250px;
}

.outer-container {
  text-align: center;
}

.sign-in-component {
  display: inline-block;
}

#sign-in-container {
  margin-top: 200px;
  text-align: center;
}

.sign-in-title {
  font-family: 'lobster', 'cursive';
  font-size: 75px;
  margin-bottom: 50px;
  margin-top: 25px;
  text-align: center;
  text-decoration: underline;
}

.tip-top-styling {
  background-color: $top-bar;
}

#top-btn-1, #top-btn-2, #top-btn-3 {
  font-size: 20px;
}

#top-menu {
  background-color: $menu;
}
