@import "*";

body {
  margin: 0;
  padding: 0;
  
}

.button_to {
  padding: 0;
  margin: 0;
}

.button_wrapper {
  margin-left: 0;
  padding-left: 0;
}

.create_button_wrapper {
  text-align: center;
}

.gallery_container {
  margin: auto;
  width: 100%;
}

.portrait_container {
  margin-top: 5%;
}

.gallery_title {
  font-size: 50px;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
  text-decoration: underline;
}

.image_title {
  text-decoration: underline;
  text-align: center;
}

.sign_in_title {
  font-size: 50px;
  margin: 30px;
  text-align: center;
}

.sign_in_button {
  border-color: #3B579D;
  border-radius: 15px;
  border-style: solid;
  display: inline-block;
  font-size: 23px;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 100px;
  padding-bottom: 200px;
  padding-left: 0;
  padding-right: 20px;
  padding-top: 200px;
  text-align: center;
  vertical-align: middle;
}

.sign_in_image {
  float: left;
  height: 100%;
  width: auto;
}

.canvas {
  background-color: white;
  border-color: black;
  border-style: solid;
  height: 100%;
  width: 100%;
}

.canvas_container {
  height: 40%;
  width: 20%;
  margin: 10% auto 3%;
}

.control_buttons {
  text-align: center;
}

.display_image {
  background-color: white;
  margin: auto;
  display: block;
}

.top_bar {
  text-align: right;
  margin-left: 55%;
}

.top_bar_button_wrapper {
  margin: 20px 10px;
  padding: 0;
}
