body {
  margin: 0;
  padding: 0;
}

.sign_in_header {
  text-align: center;
  background-color: $purple;
}

.sign_in_title {
  margin: 0;
  font-size: 50px;
  padding: 20px;
}

.sign_in_button {
  
}

.sign_in_button a {
  text-decoration: none;

}

.sign_in_button_container {
  margin-top: 200px;
  text-align: center;
}
