<h1 class="gallery_title">
  Gallery
</h1>
<div>
  <% @images.each do |image| %>
    <div>
      <%= image.user.name %>'s Fingerprint
      <br />
      <img class="display_image" src="<%= image.image_url %>" />
    </div>
  <% end %>
</div>
