<h1 class='gallery-title'>
  Gallery
</h1>
<div class='row'>
  <% @images.each do |image| %>
    <div class='small-12 medium-4 column align'>
      <p class='image-title'>
        <%= image.user.name %>'s Fingerprint
      </p>
      <img class='fingerprint-image' src="<%= image.image_url %>" />
    </div>
  <% end %>
</div>
