<h1 class='gallery-title'>
  Gallery
</h1>
<div>
  <% @images.each do |image| %>
    <div>
      <p>
        <%= image.user.name %>'s Fingerprint
      </p>
      <img src="<%= image.image_url %>" />
    </div>
  <% end %>
</div>
