<%= hydration('userData', @derp) %>

<div class="canvas-container">
  <canvas class="canvas" id="myCanvas"></canvas>
</div>

<div class="control-buttons">
  <button id="drawer">Generate Your Fingerprint</button>
</div>
<div class="control-buttons">
  <button id="saver">Save Your Fingerprint</button>
</div>

<%= javascript_include_tag 'paper-full', type: "text/javascript" %>
<%= javascript_include_tag 'drawing', type: "text/paperscript", canvas: "myCanvas" %>
<%= javascript_include_tag 'convert-drawing', type: 'text/javascript' %>
